<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/css/new_nav.css">
</head>

<body>
<nav style="display: block; padding-top: 0px;" class="container-fluid p-0 m-0">
    <div class="d-flex justify-content-between first-row text-center px-3 py-0">
        <ul class="d-flex justify-content-start align-items-center p-1 m-0">
            <li class="nav-link link-style"><a href="/">Home</a></li>
            <li class="nav-link link-style"><a href="/about" class="">About Us</a></li>
            <li class="nav-link link-style"><a href="/contact">Contact Us</a></li>
            <li class="nav-link link-style" sec:authorize="hasRole('ROLE_EMPLOYEE')">
                <button class="nav-link link-style p-1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Employee Actions
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/products/">Edit Products</a></li>
                    <li><a class="dropdown-item" href="/discounts/">Edit Discounts</a></li>
                    <li><a class="dropdown-item" href="/order/all">View All Orders</a></li>
                    <li><a class="dropdown-item" href="/statistics">Get Statistics</a></li>
                </ul>
            </li>
            <li class="nav-link link-style" sec:authorize="hasRole('ROLE_ADMIN')">
                <button class="nav-link link-style p-1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin Actions
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/admin/">Edit Users</a></li>
                </ul>
            </li>

        </ul>
        <ul class="d-flex justify-content-end text-right align-items-center p-0 m-0">
            <li class="nav-link link-style" th:if="${#authorization.expression('!isAuthenticated')}">
                <a href="/user/login" class="d-flex align-items-center text-center">
                    <img src="/images/login_logo.png" alt="Login" class="img-fluid" style="height:1.7rem">
                    <span class="">Log in</span>
                </a>
            </li>
            <li class="nav-link link-style" th:if="${#authorization.expression('isAuthenticated')}">
                <a href="/user/logout" class="d-flex align-items-center text-center">
                    <img src="/images/login_logo.png" alt="Login" class="img-fluid" style="height:1.7rem">
                    <span class="">Logout</span>
                </a>
            </li>
            <li class="nav-link link-style">
                <a href="/cart" class="d-flex align-items-center text-center">
                    <img src="/images/cart_logo.png" alt="Login" class="img-fluid" style="height:1.7em">
                    <span class="">Cart</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-between align-items-center second-row m-0 p-0 p-lg-4">
        <!-- Logo -->
        <div class="">
            <div class="logo">
                <a href="/" title="SAPTOPS">
                    <img src="/images/logo.png" alt="Store Logo" class="img-fluid" style="height:1.7rem">
                </a>
            </div>
        </div>
        <div>
            <ul class="d-flex p-0 m-auto text-center">
                <li class="nav-link link-style p-1"><a href="/products/category/3">PCs</a></li>
                <li class="nav-link link-style p-1"><a href="/products/category/4">Laptops</a></li>
                <li class="nav-link link-style p-1"><a href="/products/category/5">Hardware</a></li>
            </ul>
        </div>
        <!-- Search bar -->
        <div class="">
            <form action="/products/search" method="get">
                <label for="search" class="visually-hidden"></label>
                <input id="search" name="search" type="search" placeholder="Search..." class="search-text" autofocus required />
                <button type="submit"><img src="/images/search_icon.png" alt="Search Icon"
                                           style="height:1.7rem"></button>
            </form>
        </div>
    </div>
</nav>
</body>
<script>
    function performSearch() {
        // Get the search input value
        var searchQuery = document.getElementById("search").value;

        // You can perform your search logic here
        // For demonstration purposes, let's just alert the search query
        alert("Performing search for: " + searchQuery);
    }
</script>

</html>