<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/css/new_nav.css">
</head>

<body>
<nav style="" class="p-0 m-0">
    <div class="d-flex flex-column flex-md-row justify-content-md-between first-row text-center px-lg-3 py-0 h-100">
        <ul class="d-flex  p-0 m-0 justify-content-center">
            <li class="nav-link link-style p-1"><a href="/">Home</a></li>
            <li class="nav-link link-style p-1"><a href="/about" class="">About Us</a></li>
            <li class="nav-link link-style p-1"><a href="/contact">Contact Us</a></li>
            <li class="nav-link link-style p-1" sec:authorize="hasRole('ROLE_EMPLOYEE')">
                <button class="nav-link link-style p-1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Employee Actions
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/products/">Edit Products</a></li>
                    <li><a class="dropdown-item" href="/discounts/">Edit Discounts</a></li>
                    <li><a class="dropdown-item" href="/order/all">View All Orders</a></li>
                    <li><a class="dropdown-item" href="/statistics">Get Statistics</a></li>
                </ul>
            </li>
            <li class="nav-link link-style p-1" sec:authorize="hasRole('ROLE_ADMIN')">
                <button class="nav-link link-style p-1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin Actions
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/admin/">Edit Users</a></li>
                </ul>
            </li>

        </ul>
        <ul class="d-flex justify-content-center text-right p-0 m-0">
            <li class="nav-link link-style p-1" th:if="${#authorization.expression('!isAuthenticated')}">
                <a href="/user/login" class="d-flex align-items-center text-center">
                    <img src="/images/login_logo.png" alt="Login" class="img-fluid" style="height:1.7rem">
                    <span class="">Log in</span>
                </a>
            </li>
            <li class="nav-link link-style p-1" th:if="${#authorization.expression('isAuthenticated')}">
                <a href="/user/logout" class="d-flex align-items-center text-center">
                    <img src="/images/login_logo.png" alt="Login" class="img-fluid" style="height:1.7rem">
                    <span class="">Logout</span>
                </a>
            </li>
            <li class="nav-link link-style p-1">
                <a href="/cart" class="d-flex align-items-center text-center">
                    <img src="/images/cart_logo.png" alt="Login" class="img-fluid" style="height:1.7em">
                    <span class="">Cart</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center second-row m-0 p-0 p-lg-4">
    <!-- Logo -->
        <div class="logo d-none d-md-block">
            <a href="/" title="SAPTOPS">
                <img src="/images/logo.png" alt="Store Logo" class="img-fluid" style="height:1.7rem">
            </a>
        </div>
        <div>
            <ul class="d-flex p-0 m-auto text-center">
                <li class="nav-link link-style p-1"><a href="/products/category/3">PCs</a></li>
                <li class="nav-link link-style p-1"><a href="/products/category/4">Laptops</a></li>
                <li class="nav-link link-style p-1"><a href="/products/category/5">Hardware</a></li>
            </ul>
        </div>
        <!-- Search bar -->
        <div class="">
            <form class="d-flex align-items-center" action="/products/search" method="get">
                <label for="search" class="visually-hidden"></label>
                <input id="search" name="search" type="search" placeholder="Search..." class="search-text" autofocus required />
                <button class="d-none d-md-inline-block" type="submit"><img src="/images/search_icon.png" alt="Search Icon"
                                           style="height:1.7rem"></button>
            </form>
        </div>
    </div>
</nav>
</body>
<script>
    function performSearch() {
        // Get the search input value
        var searchQuery = document.getElementById("search").value;

        // You can perform your search logic here
        // For demonstration purposes, let's just alert the search query
        alert("Performing search for: " + searchQuery);
    }
</script>

</html>