<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/cart.css">
    <div th:replace="~{fragments/head}"></div>
</head>

<body>

    <div th:replace="~{fragments/navbar}"></div>

    <th:block th:replace="~{fragments/errorAlerts}"></th:block>

    <div th:if="${success != null}">
        <p th:text="${success}"></p>
    </div>

    <div class="container-wrapper">
        <div class="cart-section">
            <!-- Shopping cart items -->
            <div class="small-container cart-page">
                <!-- Cart items table -->
                <form id="cartUpdate" method="post" action="/cart/update">
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    <!-- Cart items rows -->
                    <tr th:each="cartProducts: ${cartProducts}">
                        <td>
                            <div class="cart-info">
                                <img th:src="${cartProducts.getImageUrl()}">
                                <div class="product-name">
                                    <p th:text="${cartProducts.getName()}"></p>
                                </div>
                            </div>
                        </td>
                        <td class="product-quantity"><input name="amounts[]" type="number" th:value="${cartProducts.getAmount()}"></td>
                        <td class="product-removal"><a th:href="@{/cart/remove/{id}(id=${cartProducts.getProductId()})}">Remove</a></td>
                        <td class="product-price" th:text="${cartProducts.getAmount() * cartProducts.getCurrentPrice()}"></td>
                    </tr>

                    <!-- Add more cart item rows here if needed -->
                </table>
                </form>

            </div>
        </div>

        <div class="total-section">
            <!-- Total price section -->
            <div class="total-price">
                <!-- Total price table -->
                <table>
                    <tr>
                        <td>Total:</td>
                        <td th:text="${totalSum}"></td>
                    </tr>
                </table>
            </div>
            <!-- Proceed to Pay button -->
            <div class="pay-btn">
                <form action="/order/send" method="get">
                <button type="submit">Proceed to Checkout</button>
                </form>
                <button type="submit" form="cartUpdate">Refresh Cart</button>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer}"></div>
</body>

</html>
