.laptop-card{
    border: 1px solid rgba(12, 77, 182, 0.4);
    border-radius: 5px;
}

.text-container {
    border-top: 2px solid rgba(12, 77, 182, 0.7);
}

.price{
    text-align: center;
    font-size:1.3rem;
    font-weight: bold;
    font-style: italic;
    color:rgb(5, 0, 1);
}

.sidebar{
    position:sticky;
    top: 0%;
    border-right:1px solid rgba(0, 91, 238, 0.7);
    height: 100vh;
}

.sidebar-header{
    background-color: rgb(214, 228, 231);
    border-bottom:2px solid rgba(0, 91, 238, 0.7);
}

.sidebar-offer{
    height:22%;
}