<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/registration_style.css}">
</head>

<th:block th:replace="~{fragments/errorAlerts}"></th:block>

<body>
    <section class="container">
        <header>Registration</header>
        <form th:action="@{/user/register}" class="form" method="POST">
            <!-- Full Name -->
            <div class="input-box">
                <label for="full-name">Full Name</label>
                <input type="text" id="full-name" name="fullName" placeholder="Enter full name" required>
            </div>

            <!-- Email Address -->
            <div class="input-box">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="Enter email address" required>
            </div>

            <!-- Password -->
            <div class="input-box">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
            </div>

            <!-- Phone Number -->
            <div class="input-box">
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phoneNumber" placeholder="Enter phone number" required>
            </div>

            <!-- Birth Date -->
            <div class="input-box">
                <label for="birth-date">Birth Date</label>
                <input type="date" id="birth-date" name="dateOfBirth" placeholder="Enter birth date" required>
            </div>

            <!-- Gender -->
            <div class="gender-box">
                <h3>Gender</h3>
                <div class="gender-option">
                    <div class="gender">
                        <input type="radio" id="check-male" value="male" name="gender">
                        <label for="check-male">Male</label>
                    </div>
                    <div class="gender">
                        <input type="radio" id="check-female" value="female" name="gender">
                        <label for="check-female">Female</label>
                    </div>
                    <div class="gender">
                        <input type="radio" id="check-other" value="other" name="gender" checked>
                        <label for="check-other">Prefer not to say</label>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit">Submit</button>
        </form>

        <!-- Link to Login Page -->
        <a th:href="@{/user/login}" class="login-link">Already have an account?</a>

      </section>

</body>
</html>
