<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>

    <table>
        <tr>
            <th>Product name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Total Price</th>
            <th>Actions</th>
        </tr>

        <tr th:each="cartProducts: ${cartProducts}">
            <td th:text="${cartProducts.getName()}"></td>
            <td th:text="${cartProducts.getCurrentPrice()}"></td>
            <td th:text="${cartProducts.getAmount()}"></td>
            <td th:text="${cartProducts.getAmount() * cartProducts.getCurrentPrice()}"></td>
            <td>
                <a th:href="@{/cart/remove/{id}(id=${cartProducts.getProductId()})}">Remove from cart</a>
            </td>
        </tr>

    </table>
</body>
</html>