<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body style="background-color: gray;">
    <section class="container">
        <p class="text-center text-danger" th:text="${error}"></p>
        <header class="title">Login Form</header>
        <form th:action="@{/user/login}" class="form" method="post">
            <!-- Email Address -->
            <div class="input-box">
                <input type="text" required name="email">
                <label>Email Address</label>
            </div>

            <!-- Password -->
            <div class="input-box">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <!-- Remember Me and Forgot Password -->
            <div class="content">
                <div class="checkbox">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                <div class="pass-link">
                    <a href="#">Forgot password?</a>
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit">Login</button>

            <!-- Signup Link -->
            <div class="signup-link">Not a member? 
                <a th:href="@{/user/register}">Signup now</a>
            </div>

        </form>
    </section>

</body>
</html>
