<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>

    <table>
        <tr>
            <th>Product name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>

        <a th:href="@{/products/add}" sec:authorize="hasRole('ROLE_EMPLOYEE')">ADD PRODUCT</a>

        <tr th:each="product: ${products}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getCurrentPrice()}"></td>
            <td>
                <a th:href="@{/cart/add/{id}(id=${product.getId()})}">ADD TO CART</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/products/delete/{id}(id=${product.getId()})}">DELETE</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/products/update/{id}(id=${product.getId()})}">UPDATE</a>
            </td>
        </tr>

    </table>
</body>
</html>