/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Resetting box-sizing, margin, and padding for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation Styles */
.header-navigation {
    background-color: #5C8DFF; /* Blue background */
    text-align: center;
}

/* Site Header and Categories Navigation */
.site-header, .categoriesNav {
    background-color: white; /* White background */
}

/* Layout and Alignment of Navigation Components */
.header-navigation, .site-header, .categoriesNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
}

/* Navigation Links */
.navbar-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
}

/* Individual List Items */
.navbar-nav li {
    display: inline;
    margin-right: 10px;
}

/* Anchor Links */
.navbar-nav li a {
    color: white; /* White text */
    text-decoration: none;
}

/* Hover Effect on Anchor Links */
.header-navigation .navbar-nav li a,
.site-header .navbar-nav li a,
.categoriesNav .navbar-nav li a {
    color: black; /* Black text on hover */
}

/* Adjusting Padding for Search Button */
.search-submit {
    padding: 5px 5px;
    height: 20px;
    width: 20px;
    margin: 0px; /* Reset margin */
    padding: 0px; /* Reset padding */
}

/* Styling Header Navigation Button */
.header-navigation-button {
    display: flex;
    outline: 0;
    cursor: pointer;
    padding: 0 30px; /* Adjusting padding */
    height: 40px; /* Adjusting height */
    line-height: 40px; /* Adjusting line height */
    border-radius: 7px;
    background-color: #5C8DFF; /* Blue background */
    color: white;
    font-weight: bold;
    font-size: 18px; /* Adjusting font size */
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

/* Hover Effect on Header Navigation Button */
.header-navigation-button:hover {
    background: #3C6EB3; /* Darker color on hover */
    border-color: #3C6EB3; /* Darker border color on hover */
    border: 2px solid; /* Adding border */
}

/* Layout Styles */
.row {
    display: flex;
    flex-direction: row;
    gap: 2rem; /* Gap between elements */
    align-items: center;
    width: 100%;
}

/* Container for Navbar with Centered Alignment */
.container-navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Styling Horizontal Line Between Sections */
.line-between-sections {
    width: 100%;
    height: 1px;
    background-color: gray; /* Gray color */
    margin-top: 0px; /* Reset margin */
}

/* Container */
.container {
    width: 100%;
}

/* Column Styles */
.col-xs-12 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Option Content */
.option-content li {
    display: flex;
    justify-content: center;
}

.option-content img {
    width: 30px;
    height: 30px;
}

.option-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.option-content a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.searchlight {
    line-height: 20px;
}

/* Search Bar Styles */
.search-bar-container {
    position: relative; /* Position relative for absolute positioning */
    display: flex;
    align-items: center;
}

.search-form {
    position: relative;
    width: 100%;
}

.search-text,
button {
    height: 37px;
    font-family: var(--font-fam); /* Using custom font family variable */
    border: 1; /* Border style */
    color: var(--color-dark); /* Custom color */
    font-size: 1.7rem;
}

.search-text {
    width: calc(100% - var(--btn-width)); /* Calculating width */
    background: var(--color-light); /* Custom background color */
    padding: 0 0.5rem;
    border-radius: 3px; /* Border radius */
    appearance: none;
    transition: all var(--dur) var(--bez); /* Transition effect */
    transition-property: width, border-radius; /* Specifying transition properties */
    z-index: 1;
    position: relative;
}

button {
    display: none;
    position: absolute;
    top: 0;
    left: 360px; /* Adjusted position */
    width: var(--btn-width);
    font-weight: bold;
    background: transparent; /* Transparent background */
    border: none; /* No border */
    transition: background 0.2s ease; /* Transition effect for hover */
}

.search-text:not(:placeholder-shown) {
    border-radius: 3px;
}

.search-text:not(:placeholder-shown) + button {
    display: block;
}

.submit img {
    display: flex;
    justify-content: center;
    width: 100%; /* Resizing image to fit button */
}

/* Styles for Categories Navigation */
.categoriesNav .nav.navbar-nav li a {
    font-weight: bold;
    font-size: 18px; /* Adjust size as needed */
    text-decoration: none;
    padding: 5px 10px; /* Adjust padding as needed */
    transition: text-decoration 0.3s;
}

.categoriesNav .nav.navbar-nav li a:hover {
    text-decoration: underline;
}

